@font-face {
  font-family: Baloo-Regular;
  src: url(./fonts/Baloo-Regular.ttf);
}

@font-face {
  font-family: Baloo2-Regular;
  src: url(./fonts/Baloo2-Regular.ttf);
}

@font-face {
  font-family: Baloo2-Medium;
  src: url(./fonts/Baloo2-Medium.ttf);
}

@font-face {
  font-family: Baloo2-Regular;
  src: url(./fonts/Baloo2-Regular.ttf);
}

@font-face {
  font-family: Baloo2-Medium;
  src: url(./fonts/Baloo2-Medium.ttf);
}

@font-face {
  font-family: Baloo2-SemiBold;
  src: url(./fonts/Baloo2-SemiBold.ttf);
}

@font-face {
  font-family: Baloo2-Bold;
  src: url(./fonts/Baloo2-Bold.ttf);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Baloo2-Regular", sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  min-height: 100vh;
}

.header--content,
.main-nav {
  display: flex;
}

.header--content {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  background-color: #ffffff;
  max-height: none;
}

.header--content .nav-icon {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
  color: #000000;
}

a {
  text-decoration: none;
  font-weight: 500;
}

.main-nav {
  margin-top: 5px;
}

.main-nav a {
  padding: 10px 15px;
  text-align: center;
}

.main-nav li:last-child a {
  padding: 5px 30px;
  margin-left: 20px;
}

.main-nav a {
  color: #000000;
  font-size: 1em;
  font-family: Baloo2-Regular;
  font-style: normal;
  font-weight: 400;
}

.main-nav a:hover {
  color: #000000;
  font-family: Baloo2-Bold;
}

.main-nav li:last-child a {
  color: #ffffff;
}

/* menu icon */

.header--content .menu-icon {
  cursor: pointer;
  float: right;

  position: relative;
  user-select: none;
}
.header--content .menu-icon {
  display: none;
}

.header--content .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header--content .menu-icon .nav-icon:before,
.header--content .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header--content .menu-icon .nav-icon:before {
  top: 5px;
}

.header--content .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header--content .menu-btn {
  display: none;
}

/* Content */
.content {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: "column";
  justify-content: "space-between";
}

.content--one {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 6em;
}

.content--one__left {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  justify-content: center;
}

.content--one__left h3 {
  font-family: "Baloo2-Bold";
  color: #000000;
  font-size: 26px;
  margin-top: 0;
}

.content--one__left p {
  font-size: 14px;
}

.content--one__left p:nth-of-type(2) {
  font-family: "Baloo2-Medium";
}
.content--one__left div {
  display: flex;
  flex-direction: column;
}
.content--one__left div ul {
  list-style: "∙";
  list-style-position: outside;
  margin-left: 10px;
}
.content--one__left div ul li {
  font-size: 14px;
  padding-left: 10px;
}

.content--one__left div li:last-child a {
  background-color: #59abb0;
  border-radius: 10px;
  padding: 5px 30px;
  margin-left: 20px;
}

.apply-btn {
  margin-top: 2em;
  width: 18em;
}

.content--one__right {
  display: flex;
  flex: 0.5;
  width: 50%;
  justify-content: flex-start;
}

.content--one__right img {
  width: 100%;
}

.content--two {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6em;
  margin: 4em auto;
}

.content--two__left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.content--two__left img {
  width: 100%;
}

.content--two__right {
  width: 50%;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
}

.content--two__right h4 {
  font-size: 18px;
  font-family: "Baloo2-Medium";
  margin: 0;
}

.content--two__right p {
  font-family: "Baloo2-Regular";
  font-size: 14px;
}
.content--two__right--btn {
  width: 170px;
}

/* Footer */

footer {
  width: 100%;
  justify-content: space-between;
  background-color: #59abb0;
  color: #ffffff;
}
.footer--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.footer--container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 137px;
}

.footer--container div p {
  margin: 0;
}

.footer--container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer--container ul li a {
  color: #ffffff;
}

.footer--container ul li a:hover {
  text-decoration: underline;
}

/* Button */

.btn {
  background-color: #59abb0;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
}

.btn p {
  margin: 10px;
}

.btn:hover {
  background-color: #60dfe8;
}

/* header */

.header {
  background-color: #fff;
  width: 100%;
  z-index: 3;
}

.header--content {
  width: 90%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  float: left;
}

.menu li a {
  color: #000000;
  font-size: 1em;
  font-family: Baloo2-Regular;
  font-style: normal;
  font-weight: 400;
}

.menu li a:hover {
  color: #000000;
  font-family: Baloo2-Medium;
}

.header li:last-child a {
  color: #ffffff;
}

.logo {
  display: flex;
  font-size: 1.8em;
  text-decoration: none;
  text-align: center;
}

.logo a {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 1.8em;
}

/* menu */

.header .menu {
  display: flex;
  flex-direction: row;
  clear: none;
  max-height: none;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 0 28px 20px;
  position: relative;
  user-select: none;
  display: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* ================================= 
  Media Queries
==================================== */

@media (max-width: 600px) {
}

@media (max-width: 769px) {
  .header {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
  }
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
    align-items: center;
    text-align: center;
    font-size: 16px;
  }

  .menu li:last-child a {
    padding: 10px 30px;
    margin-top: 20px;
  }

  .header--content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    clear: none;
    max-height: none;
    padding: 1em 0;
  }

  .logo {
    font-size: 1.6em;
    align-self: flex-start;
  }

  .logo img {
    height: 1.6em;
  }

  .header .menu {
    flex-direction: column;
    align-items: center;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .header .menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
  }

  .header--content .menu-btn:checked ~ .menu {
    height: 100vh;
  }

  .header--content .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  .header--content .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  .header--content .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }

  .header--content .menu-icon {
    display: block;
  }

  .header--content .main-nav {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .content--one {
    margin-top: 100px;
    flex-direction: column;
  }

  .content--one__right {
    width: 100%;
  }

  .content--two {
    flex-direction: column;
    align-items: flex-start;
  }

  .content--two__left {
    width: 100%;
  }

  .content--two__right {
    width: 100%;
  }

  .content--two__right--btn {
    width: 100%;
  }

  .content--one__left h3 {
    font-size: 20px;
  }
  .content--one__left p {
    font-size: 12px;
  }

  .content--one__left div ul li {
    font-size: 12px;
  }
  .apply-btn {
    width: 100%;
  }

  .content--two {
    flex-direction: column-reverse;
  }

  .content--two__right h4 {
    font-size: 18px;
  }

  .content--two__right p {
    font-family: "Baloo2-Regular";
    font-size: 14px;
  }

  .footer--container div {
    height: 120px;
    font-size: 14px;
  }

  .footer--container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0px;
  }

  .footer--container ul li {
    text-align: end;
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 1200px) {
  .content--one {
    gap: 2em;
  }

  .content--two {
    gap: 2em;
  }
}
